# Pasta do Ambiente Virtual
venv/

# Arquivos gerados pelo Treinamento
assets/

# Pastas de cache do Python
__pycache__/
*.pyc

# Arquivos de sistema (Mac/Windows)
.DS_Store
Thumbs.db

git lfs-track "*.csv"
git lfs-track "*.joblib"